<div class="row align-items-center mt-80">
        <!-- Single Cool Fact -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cool-fact d-flex align-items-center">
                <h3><span class="counter">12</span>K</h3>
                <div class="cf-text">
                    <h6>News Article</h6>
                    <span>Donec turpis erat, scelerisq</span>
                </div>
            </div>
        </div>

        <!-- Single Cool Fact -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cool-fact d-flex align-items-center">
                <h3><span class="counter">45</span></h3>
                <div class="cf-text">
                    <h6>Reporters</h6>
                    <span>Donec turpis erat, scelerisq</span>
                </div>
            </div>
        </div>

        <!-- Single Cool Fact -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cool-fact d-flex align-items-center">
                <h3><span class="counter">25</span></h3>
                <div class="cf-text">
                    <h6>Awards Won</h6>
                    <span>Donec turpis erat, scelerisq</span>
                </div>
            </div>
        </div>

        <!-- Single Cool Fact -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-cool-fact d-flex align-items-center">
                <h3><span class="counter">17</span></h3>
                <div class="cf-text">
                    <h6>Years Old</h6>
                    <span>Donec turpis erat, scelerisq</span>
                </div>
            </div>
        </div>
    </div>