<div class="blog-posts-area">
    
    <% articlesByCategory.forEach (article => { %>
 
        <div class="single-blog-post featured-post mb-30">
                <div class="post-thumb">
                    <a href="#"><img src="/img/bg-img/<%= article.article_image %>" alt=""></a>
                </div>
                <div class="post-data">
                    <a href="#" class="post-category">Finance</a>
                    <a href="#" class="post-title">
                        <h6><%= article.article_title %></h6>
                    </a>
                    <div class="post-meta">
                        <p class="post-author">By <a href="#">Christinne Williams</a></p>
                        <p class="post-excerp"><%= article.article_text %> </p>
                        <!-- Post Like & Post Comment -->
                        <div class="d-flex align-items-center">
                            <a href="#" class="post-like"><img src="/img/core-img/like.png" alt=""> <span>392</span></a>
                            <a href="#" class="post-comment"><img src="/img/core-img/chat.png" alt=""> <span>10</span></a>
                        </div>
                    </div>
                </div>
            </div>
    <% }) %>

<!-- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque deleniti eligendi excepturi doloribus laborum vero ea aliquid et, earum explicabo laudantium? Laudantium, neque dolorem quia incidunt ullam ea accusantium laborum error saepe officiis dolor vel dicta odio facere tempora praesentium ab, eaque sapiente quae odit distinctio itaque voluptates quisquam vitae. Aut temporibus soluta ab adipisci voluptatibus, laboriosam fuga facere labore culpa vitae aperiam? Fuga, illum eveniet iusto aspernatur quod, numquam ut sed deserunt libero sequi voluptatibus. Quam corrupti impedit corporis repellendus assumenda commodi fugit unde consectetur eum ullam? Aut magni minima quod tempora modi commodi earum adipisci deserunt sunt libero. -->

    <h2>hi</h2>
</div>