  <!-- Latest Comments Widget -->
  <div class="latest-comments-widget">
        <h3>Latest Comments</h3>

        <!-- Single Comments -->
        <div class="single-comments d-flex">
            <div class="comments-thumbnail mr-15">
                <img src="/img/bg-img/29.jpg" alt="">
            </div>
            <div class="comments-text">
                <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                <p>06:34 am, April 14, 2018</p>
            </div>
        </div>

        <!-- Single Comments -->
        <div class="single-comments d-flex">
            <div class="comments-thumbnail mr-15">
                <img src="/img/bg-img/30.jpg" alt="">
            </div>
            <div class="comments-text">
                <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                <p>06:34 am, April 14, 2018</p>
            </div>
        </div>

        <!-- Single Comments -->
        <div class="single-comments d-flex">
            <div class="comments-thumbnail mr-15">
                <img src="/img/bg-img/31.jpg" alt="">
            </div>
            <div class="comments-text">
                <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                <p>06:34 am, April 14, 2018</p>
            </div>
        </div>

        <!-- Single Comments -->
        <div class="single-comments d-flex">
            <div class="comments-thumbnail mr-15">
                <img src="/img/bg-img/32.jpg" alt="">
            </div>
            <div class="comments-text">
                <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                <p>06:34 am, April 14, 2018</p>
            </div>
        </div>
    </div>