<h5 class="title">3 Comments</h5>
            
<ol>
    <!-- Single Comment Area -->
    <li class="single_comment_area">
        <!-- Comment Content -->
        <div class="comment-content d-flex">
            <!-- Comment Author -->
            <div class="comment-author">
                <img src="/img/bg-img/30.jpg" alt="author">
            </div>
            <!-- Comment Meta -->
            <div class="comment-meta">
                <a href="#" class="post-author">Christian Williams</a>
                <a href="#" class="post-date">April 15, 2018</a>
                <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
            </div>
        </div>
        <ol class="children">
            <li class="single_comment_area">
                <!-- Comment Content -->
                <div class="comment-content d-flex">
                    <!-- Comment Author -->
                    <div class="comment-author">
                        <img src="/img/bg-img/31.jpg" alt="author">
                    </div>
                    <!-- Comment Meta -->
                    <div class="comment-meta">
                        <a href="#" class="post-author">Sandy Doe</a>
                        <a href="#" class="post-date">April 15, 2018</a>
                        <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
                    </div>
                </div>
            </li>
        </ol>
    </li>

    <!-- Single Comment Area -->
    <li class="single_comment_area">
        <!-- Comment Content -->
        <div class="comment-content d-flex">
            <!-- Comment Author -->
            <div class="comment-author">
                <img src="/img/bg-img/32.jpg" alt="author">
            </div>
            <!-- Comment Meta -->
            <div class="comment-meta">
                <a href="#" class="post-author">Christian Williams</a>
                <a href="#" class="post-date">April 15, 2018</a>
                <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
            </div>
        </div>
    </li>
</ol>