<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>
<body>
   
   <h1>my fruit productslist</h1>
   <% if(typeof products != 'undefined') { %>
      <% products.forEach(product => { %>
      <div>
         <h3><%= product.product_title %></h3>
         <p><%= product.product_description %></p>
         <span><%= product.product_price %> kr </span>
      </div>
      <% }); %>
   <% } %>
</body>
</html>