
.error-messages{
    color: red !important;
}

li.active a{
    color: red !important;
    text-transform: uppercase !important;
}

.admin_link{
  margin-left: 30px;
  width: 140px;
}
.admin_link a{
    color: white !important;
     text-align: center !important;
     text-transform: capitalize;
     letter-spacing: 1px;
  }
  .admin-form{
      background: #3498db;
      width: 100%;
  }
  thead{
      width: 100% !important;
      background: red;
  }
  table{
      width: 100% !important;
      background: #3498db !important;
  }
  th{
      border: 1px solid white;
  }
  .slet-ret{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }